<astro-fragment>
  <span id="type-writer" class="text-primary"></span>
  <script>
    const words = [
      "Full-stack Developer",
      "Web Developer",
      "Web Designer",
      "Software Engineer",
    ];
    let wordIndex = 0;
    let letterIndex = 0;
    let isDeleting = false;

    function type() {
      const currentWord = words[wordIndex];
      let speed = 100;

      if (!isDeleting && letterIndex <= currentWord.length) {
        document.getElementById("type-writer").textContent =
          currentWord.substring(0, letterIndex);
        letterIndex++;
      } else if (isDeleting && letterIndex >= 0) {
        document.getElementById("type-writer").textContent =
          currentWord.substring(0, letterIndex);
        letterIndex--;
      }

      if (!isDeleting && letterIndex === currentWord.length) {
        isDeleting = true;
        speed = 500;
      } else if (isDeleting && letterIndex === 0) {
        isDeleting = false;
        wordIndex = (wordIndex + 1) % words.length;
        speed = 200;
      }

      setTimeout(type, speed);
    }

    type();
  </script>
</astro-fragment>
